html, body { height: 100% }

body{
	overflow-x: hidden;
	background: #524a46;
}

#title{
	font-family: tahoma;
	color:white;
	font-size:350%;
	background: #272522;
	color: #769656;
	padding: 15px;
	width:100%;
	text-align: center;
}
#boardcontainer{
	width:100%;
	margin-top: 2%;
}


#board{
	width:550px;
	height: 550px;
	border:3px solid black;
	background: white;
	
}

.row{
	width:100%;
	height: 68.75px;
}

.box{
	display: table-cell;
	width:68.75px;
	height: 68.75px;
	background:#eeeed2;
	border: 1px solid black;

}

.black{
	background: #85aa53;
}